@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  height: 100vh;
}
body{
  background-color: #1F2326;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.scroll::-webkit-scrollbar{
  background-color: #1F2326;
  width: 5px;
}
.scroll::-webkit-scrollbar-thumb{
  width: 5px;
  border-radius: 8px;
  background-color: #65BA6D;
}
@media(max-width: 1200px){
  body{
    height: 100%;
    width: 100%;
  }
}

